tests/sky130_fd_sc_ls__ff_n40C_1v95_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ss_n40C_1v28.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ss_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ff_n40C_1v95_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v65_lv1v60_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_100C_3v30.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v65_lv1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ss_n40C_1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v65_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_100C_5v50_lowhv1v65_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_025C_3v30_lv1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_100C_1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ss_150C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__tt_025C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ss_n40C_1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_n40C_1v95_lowhv1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_3v00.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_5v50_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_n40C_1v95_pwrlkg.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ss_140C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ff_n40C_1v56.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ss_n40C_1v60_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_4v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvff_lvss_n40C_5v50_lv1v35.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_100C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v49_lv1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ss_150C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_100C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_085C_5v50_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_n40C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_100C_5v50.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_100C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v68.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_150C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ss_n40C_1v28.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ss_100C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_n40C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__tt_100C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ss_n40C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v60_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ss_n40C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ss_n40C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ss_n40C_1v60_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v62.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_100C_1v65_dest1v76_destvpb1v76_ka1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ss_n40C_1v28.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_n40C_5v50_lowhv1v65_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_025C_2v64_lv1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v28.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ss_150C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_4v40_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_4v95_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_150C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v28.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_085C_5v50.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_5v50.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_5v50_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvff_lvss_n40C_5v50_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_100C_3v30_lv1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_100C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_085C_1v95_pwrlkg.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v35.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v32_lv1v28.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_150C_3v30_lv1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_n40C_1v56.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_n40C_2v05.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_n40C_1v65_ka1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ss_100C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v20.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_150C_5v50.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvff_lvss_100C_5v50_lv1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v32.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v35.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__tt_025C_1v80_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__tt_100C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_100C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_2v40_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v65_lv1v35.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_025C_2v97_lv1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_n40C_1v56.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvff_lvss_100C_5v50_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_100C_1v95_pwrlkg.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v49.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_100C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ss_n40C_1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v44.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_2v10.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_n40C_1v56.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v50.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_150C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__tt_100C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ff_n40C_1v56.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_100C_5v50_lowhv1v65_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ss_n40C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v89.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_n40C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_125C_3v15.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__tt_025C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_150C_3v00_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_n40C_1v56.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v35.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_100C_5v50_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ss_n40C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v60_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ff_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ss_100C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_4v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_5v50_lv1v95_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvff_lvss_n40C_5v50_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_3v00_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__ff_150C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hs__tt_025C_1v80_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_140C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ss_n40C_1v55.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_085C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__tt_025C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_n40C_1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_5v50_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvff_lvss_100C_5v50_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ss_100C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ss_n40C_1v60_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__ff_n40C_1v95_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ff_100C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ff_n40C_1v95_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_150C_5v50_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_150C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_150C_1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_n40C_1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ss_100C_1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__ff_n40C_1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_2v70_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_n40C_1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_n40C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__hvss_lvff_100C_1v95_lowhv1v65.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_150C_2v05.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ss_150C_1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ms__tt_025C_1v80_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_lp__ff_100C_1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_ls__ff_n40C_1v65_dest1v76_destvpb1v76_ka1v76.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hd__ff_n40C_1v95_ccsnoise.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hdll__tt_025C_1v80.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ff_n40C_5v50_lowhv1v65_lv1v95.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_1v65_lv1v40.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__ss_100C_5v50_lowhv1v65_lv1v60.lib filter=lfs diff=lfs merge=lfs -text
tests/sky130_fd_sc_hvl__tt_025C_3v30.lib filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
